#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <4>;
        map = <
        RC(0,4) RC(5,0) RC(0,5) RC(6,0) RC(0,6)                   RC(7,0) RC(0,7) RC(8,0) RC(0,8) RC(9,0)
        RC(1,4) RC(5,1) RC(1,5) RC(6,1) RC(1,6)                   RC(7,1) RC(1,7) RC(8,1) RC(1,8) RC(9,1)
        RC(2,4) RC(5,2) RC(2,5) RC(6,2) RC(2,6)                   RC(7,2) RC(2,7) RC(8,2) RC(2,8) RC(9,2)
                        RC(3,5) RC(6,3) RC(3,6)                   RC(7,3) RC(3,7) RC(8,3)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-charlieplex";

        gpios
            = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 0 row 1
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 1 row 2
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 2 row 3
            , <&pro_micro  5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 3 row 4
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 4 col 1
            , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 5 col 2, 3
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 6 col 4, 5
            , <&pro_micro  8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 7 col 6, 7
            , <&pro_micro  7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 8 col 8, 9
            , <&pro_micro  6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // 9 col 10
            ;
    };
};
